@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-from: #00f5d4;
  --accent-to: #6a5cff;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

/* small helper */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
